/* Custom components */
:root{
--Green: hsl(75, 94%, 57%);
--White: hsl(0, 0%, 100%);
--Grey-700: hsl(0, 0%, 20%);
--Grey-800: hsl(0, 0%, 12%);
--Grey-900: hsl(0, 0%, 8%);
--ff: 'Inter', sans-serif;
--b-font-size: .875rem;
}
/* Css resets */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

/* Custom styles */